.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    box-sizing: border-box;
}

input {
    display: block;
    padding: 10px 50px;
    max-width: 400px;
}
button {
    max-width: 200px;
    padding: 10px 20px;
}